.title {
    font-style: italic;
    color: #822000;
    padding-top: 10px;
}
.onrow {
    background-color: #fdf1dc;
    padding-top: 60px;
    padding-bottom: 30px;
}
.offrow {
    background-color: #FFFCF2;
    padding-top: 60px;
    padding-bottom: 30px;
}
.onrowclass{
    background-color: #fdf1dc;
    padding-bottom: 30px;
}
.offrowclass{
    background-color: #FFFCF2;
    padding-bottom: 30px;
}
.oncolor {
    background-color: #fdf1dc;
}
.offcolor {
    background-color: #FFFCF2;
}
a:link {
    color: #908149;
}
a:visited {
    color: #908149;
}
.italic {
    font-style: italic;
}
.classes {
    padding-top: 60px;
}
.boxColor {
    background-color: #fdf1dc;
    padding: 10px;
}
.dndBorderColor {
    height: 3px;
    background: #e69a28;
}
.tableHeader {
    --bs-table-color: #323539;
    --bs-table-bg: #e1cb7c;
    --bs-table-border-color: #4d5154;
    --bs-table-striped-bg: #e1cb7c;
    --bs-table-striped-color: #323539;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}
.tableLines {
    --bs-table-color: #323539;
    --bs-table-bg: #FFFCF2;
    --bs-table-border-color: #4d5154;
    --bs-table-striped-bg: #fdf1dc;
    --bs-table-striped-color: #323539;
    --bs-table-hover-bg: #54585d;
    --bs-table-hover-color: #fff;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}


/*
Old onrow #ffe68c
Old offrow #FFFCF2

Alternative colors
yellow background #fdf1dc
boarder #e69a28
red text #822000
Also use black text
*/