.title {
    font-style: italic;
    color: #822000;
    padding-top: 10px;
}
.onrow {
    background-color: #fdf1dc;
    padding-top: 60px;
    padding-bottom: 30px;
}
.offrow {
    background-color: #FFFCF2;
    padding-top: 60px;
    padding-bottom: 30px;
}
.onrowclass{
    background-color: #fdf1dc;
    padding-bottom: 30px;
}
.offrowclass{
    background-color: #FFFCF2;
    padding-bottom: 30px;
}
.oncolor {
    background-color: #fdf1dc;
}
.offcolor {
    background-color: #FFFCF2;
}
a:link {
    color: #908149;
}
a:visited {
    color: #908149;
}
.italic {
    font-style: italic;
}
.classes {
    padding-top: 60px;
}
.boxColor {
    background-color: #fdf1dc;
    padding: 10px;
}
.dndBorderColor {
    height: 3px;
    background: #e69a28;
}


/*
Old onrow #ffe68c
Old offrow #FFFCF2

Alternative colors
yellow background #rgb(253, 241, 220)
boarder #e69a28
red text #822000
Also use black text
*/